<div class="container">
  <!-- description session -->
  <div class="row">
      <div class="col-md-2">
          <img src="../assets/img/profile/eu.png" alt="Barbara Nunes" id="profile-img">
      </div>
      <div class="col-md" id="description">
        <div id="person-information">
          <h1 class="text-center" id="name">Bárbara Nunes</h1>
          <h4 class="text-center" id="title">{{myTitle}}</h4>
          <p id="me" class="text-justify">
            {{aboutMe}}
          </p>
        </div>        
      </div>
      <div class="col-md-1"></div>
  </div>
  <!-- begin of the tab -->
  <div class="row" id="information">
    <mat-tab-group class="mat-primary" mat-align-tabs="center" aria-label="accent">
      <!-- Information about education -->
        <mat-tab label="Education">
          <div class="row">
            <div class="col-md-4" *ngFor="let education of datajason.academicEducation;">
              <mat-card class="institutionCard">
                <mat-card-header>
                  <div class="title">
                    <mat-card-title>{{education.degree}}'s degree in {{education.studyArea}}</mat-card-title>
                  </div>
                </mat-card-header>
                <div class="logoImage">
                  <a href="{{education.institutionLink}}">
                    <img class="text-center" mat-card-image class="logo" src="{{education.logo}}" alt="logo">
                  </a>
                </div>
                <mat-card-content class="cartDescription">
                  <p>{{education.institution}}</p>
                  <p class="duration">Started in {{education.start}}- Finished in {{education.end}}</p>
                  <p>Dissertation: {{education.thesis}}</p>
                </mat-card-content>
                <mat-card-actions class="btnDiv">
                  <a *ngIf="education.link" href="{{education.link}}">
                    <button mat-stroked-button>Read Dissertation</button>
                  </a>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </mat-tab>
        <!-- My experiences -->
        <mat-tab label="Experiences">
          <div class="row" *ngFor="let experience of datajason.experiences;">
            <div class="col-sm-1" class="divDatails">
              <div class="square"></div>              
            </div>
            <div class="col-sm-1 experienceDescription">
              <a href="{{experience.institutionLink}}">
                <img class="experienceLogo" src="{{experience.logo}}" alt="logo">
              </a>
            </div>
            <div class="col-md-6 experienceDescription">
              <h6>{{experience.responsibility}} at {{experience.company}}</h6>
              <p class="duration">Started in {{experience.start}} - Finished in {{experience.end}}</p>
              <ul *ngFor="let task of experience.tasks">                
                <li>{{task}}</li>
              </ul>
            </div>              
          </div>
        </mat-tab>
        <!-- My Skills -->
        <mat-tab label="Skills"></mat-tab>
        <!-- My publications -->
        <mat-tab label="Publications">
          <div class="row">
            <div class="col-md-4" *ngFor="let publication of datajason.publications;">
              <mat-card class="publicationCard">
                <mat-card-header>
                  <div class="publicationTitle">
                    <mat-card-title>{{publication.title}}</mat-card-title>
                  </div>                  
                </mat-card-header>
                <mat-card-content class="publicationCartDescription">
                  <p id="authors">{{publication.authors}}</p>
                  <p>Published in: {{publication.paper}}{{publication.event}}, {{publication.year}}, {{publication.institution}}{{publication.extraInfo}}</p>
                </mat-card-content>
                <mat-card-actions class="btnDiv">
                  <a *ngIf="publication.link" href="{{publication.link}}">
                    <button mat-stroked-button>Read publication</button>
                  </a>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </mat-tab>
        <!-- My projects -->
        <mat-tab label="Projects"></mat-tab>
        <!-- contacts -->
        <mat-tab label="Contact Me"></mat-tab>
    </mat-tab-group>     
  </div>
</div>