/* All divs from the project are into container */
.container{
    right: 115px;
    top: 63px;
    position: absolute;
    z-index: 2;
    padding-top: 30px;
}

@media screen and (max-width: 1100px) {
    #description{
        display: none;
    }
    .profile-img{
        display: none;
    }
    #information{
        padding-top: 250px; 
    }
}

/* Personal description style */

#profile-img{
    width: 266px;
    height: 255px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    margin-top: -0.5px;
    margin-bottom: -3px;
    margin-left: 80px;
    border-left: solid #b3bc6d;
    border-bottom: solid #b3bc6d;
    border-top: solid #b3bc6d;
}

/* description is a div where I put text about me. This div is in the same hierarchy that div of profile image */
#description{
    width: 350px;
    border-top: solid #b3bc6d;
    border-bottom: solid #b3bc6d;
    background-color: white;
}

#person-information{
    height: 249px;
    margin-left: 150px;
}

#name{
    text-align: center;
   padding-top: 10px;
   color: #00251a;
}

#title{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
    color: #00251a;
}

#me{
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    color: #00251a;
}
/* ---------End of personal description style -------------- */

/* Information is a div where I show my prefessional information */
#information{
    padding-top: 50px;
}

/* Card style. It is applyed to cards from education*/
.institutionCard{
    width: 350px;
    height: 525px;
    margin: 50px;
    border: solid #e6ee9c 1px;
    box-shadow: 5px 5px 2px #b3bc6d;
} 

.title{
    text-align: center;
    height: 120px;
}

.logoImage{
    text-align: center;
    height: 180px;
}

.logo{
    width: 150px;
    height: auto;    
}

.logo:hover{
    width: 200px;
    height: auto;
}

.cartDescription{
    text-align: justify;
    height: 140px;
}

.btnDiv{
    text-align: center;
    height: 90px;
}
/* ---------End of education cards style -------------- */

/* Card style. It is applyed to cards from publication*/
.publicationCard{
    width: 350px;
    height: 420px;
    margin: 50px;
    border: solid #e6ee9c 1px;
    box-shadow: 5px 5px 2px #b3bc6d;
} 

.publicationTitle{
    text-align: center;
    height: 200px;
}

.publicationCartDescription{
    text-align: justify;
    height: 120px;
}

.btnDiv{
    text-align: center;
    height: 90px;
}
/* ---------End of publication cards style -------------- */

/* divDatails and square are responsible to create a line and a square in the first collumn from experiences part */
.divDatails{
    width: 10px;
    height: auto;
    background-color: #b3bc6d;
}
.square{
    width: 20px;
    height: 20px;
    margin-top: 65px;
    background-color: #b3bc6d;
    transform: rotate(45deg);
}

.experienceLogo{
    width: 50px;
    height: auto;
    margin-left: 10px;
}
.experienceDescription{
    padding-top: 50px;
}
/* end of experience part style*/

/* Style of skills part */
.skills{
    padding-top: 30px;
    padding-bottom: 30px;
}

.skillRow{
    padding-top: 10px;
}

.logoSkills{
    width: auto;
    height: 100px;
}
.skillProgress{
    background-image: linear-gradient(to right, #ffffce, #e6ee9c, #b3bc6d);
    border: solid #e6ee9c 2px;
}
/* End of skills part style*/

/* It is applyed to all links */
a{
    color: #a0af22;
    
    text-decoration: none;
}
/* It is applyes to all buttons */

button:hover{
    background-color: #ffffce;
}

/* It is applyed to all dates */

.duration{
    font-size: smaller;
}

.skillsBox, .educationBox, .experiencesBox, .projectBox {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 1300px;
    /* min-width: 500px; */
}
