#top-container{
    height: 180px;
    width: 100%;
    background-color: aqua;
    position: absolute;
    z-index: 1;
}
#navbar{
    /* overflow: hidden; */
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
}
.container{
    right: 115px;
    top: 63px;
    position: absolute;
    z-index: 2;
}

#profile-img{
    width: 316px;
    height: 303px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    margin-top: -1px;
    margin-bottom: -3px;
    margin-left: 40px;
}

#description{
    width: 350px;
    border-top: solid black;
    border-bottom: solid black;
    background-color: white;
}

#person-information{
    height: 250px;
    margin-left: 150px;
}

#name{
   padding-top: 10px;
}

#title{
    padding-top: 5px;
    padding-bottom: 15px;
}

#me{
    padding-left: 15px;
    padding-right: 15px;
}


#biologist{
    margin: 5px;
    text-align: center;
    width: 95%;
    padding: 10px;
}

#web-developer{
    margin: 5px;
    text-align: center;
    width: 95%;
    padding: 10px;
}
#me{
    font-size: large;
}
