<div id="top-container"></div>
<div class="container">
  <div class="row">
      <div class="col-2" id="box1">
          <img src="../assets/img/profile/eu.png" alt="Barbara Nunes" id="profile-img">
      </div>
      <div class="col" id="description">
        <div id="person-information" style="border: solid blueviolet;">
          <h1 class="text-center" id="name">Bárbara Nunes</h1>
          <h4 class="text-center" id="title">{{myTitle}}</h4>
          <p id="me">
            {{aboutMe}}
          </p>
        </div>        
        <div id="read-more">
          <button id="biologist" mat-button color="primary" [routerLink]="['/Biologist']" routerLinkActive="router-link-active" (click)="biologistInformation()">Biologist</button>
          <button id="web-developer" mat-button color="primary" [routerLink]="['/Web-Developer']" routerLinkActive="router-link-active" (click)="webDeveloperInformation()">
            Web Developer
          </button>
        </div>

      </div>
  </div>
  <div class="row">
    <router-outlet>
      
    </router-outlet>
  </div>
</div>

