<div id="top-container">
  <div id="navbar">
    <mat-toolbar>
      <div class="col-md-6">
        <button id="web-developer" mat-raised-button routerLinkActive="router-link-active" (click)="changeInformation('developer', '/Web-Developer')">
          Web Developer
        </button>
      </div>
      <div class="col-md-5">
        <button id="biologist" mat-raised-button routerLinkActive="router-link-active" (click)="changeInformation('biologist', '/Biologist')">Biologist</button>
      </div>
      <div class="col-md-1">
        <button id="contact" mat-raised-button routerLinkActive="router-link-active" (click)="changeInformation('contact', '/contact')">
          Contacts
        </button>
      </div>    
    </mat-toolbar>
  </div>  
  <div>
    <router-outlet>
      
    </router-outlet>
  </div>
<div>
