#top-container{
    height: 180px;
    width: 100%;
    position: absolute;
    z-index: 1;
}
#navbar{
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
}
.mat-toolbar{
    background-image: linear-gradient(to right, #b3bc6d5d, #cb9b8c79);
}

#biologist{
    text-align: center;
    width: 95%;
    padding: 10px;
    background-color: #b3bc6d;
    color: #ffffce;
    font-size: x-large;
    margin-left: 3px;
}

#biologist:focus, #biologist:hover{
    background-color: #a0af22;
}

#web-developer{
    text-align: center;
    width: 95%;
    padding: 10px;
    background-color: #cb9b8c;
    color: #ffffee;
    font-size: x-large;
}

#web-developer:focus, #web-developer:hover{
    background-color: #c75b39;
}

#contact{
    text-align: center;
    width: 95%;
    padding: 10px;
    font-size: large;
    background-color: #af4448;
    color: #ffffe5;
}

#contact:focus, #contact:hover{
    background-color: #ffa4a2;
}

@media screen and (max-width: 1300px) {
    #web-developer{
        font-size: smaller;
    }
    #biologist{
        font-size: smaller;
    }
    #contact{
        font-size: smaller;
    }
}

@media screen and (max-width: 780px) {
    #web-developer{
        font-size: smaller;
        width: 200px;
        padding: 5px;
    }
    #biologist{
        font-size: smaller;
        width: 200px;
        padding: 5px;
    }
    #contact{
        font-size: smaller;
        width: 200px;
        padding: 5px;
    }
}

@media screen and (max-width: 619px) {
    #web-developer{
        font-size: small;
        width: 120px;
        padding: 0px;
    }
    #biologist{
        font-size: small;
        width: 120px;
        padding: 0px;
    }
    #contact{
        font-size: small;
        width: 120px;
        padding: 0px;
    }
}