<div id="top-container">
  <div id="navbar">
    <mat-toolbar>
      <div class="col-md-5">
        <button id="web-developer" mat-raised-button routerLinkActive="router-link-active" [routerLink]="['/webDeveloper']">
          Web Developer
        </button>
      </div>
      <div class="col-md-5">
        <button id="biologist" mat-raised-button routerLinkActive="router-link-active" [routerLink]="['/biologist']">Biologist</button>
      </div>
      <div class="col-md-2">
        <button id="contact" mat-raised-button routerLinkActive="router-link-active" [routerLink]="['/contact']">
          Contacts
        </button>
      </div>    
    </mat-toolbar>
  </div>  
  <div>
    <router-outlet>
      
    </router-outlet>
  </div>
<div>
