<div class="container">

    <div class="row">
        <div class="col-md-2 profile-img">
            <img src="../assets/img/profile/eu.png" alt="Barbara Nunes" id="profile-img">
        </div>
        <div class="col-md" id="description">
          <div id="person-information">
            <h1 id="name">Bárbara Nunes</h1>
            <h4 id="title">{{myTitle}}</h4>
            <p id="me">
              {{aboutMe}}
            </p>
          </div>        
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row" id="information">
        <mat-tab-group animationDuration="0ms" mat-align-tabs="center">
            <mat-tab label="Education" *ngFor="let education of academicEducation;">
                <div class="row educationBox">
                  <div class="col-md-4" *ngFor="let education of academicEducation;">
                    <mat-card class="institutionCard">
                      <mat-card-header>
                        <div class="title">
                          <mat-card-title>{{education.degree}}{{education.studyArea}}</mat-card-title>
                        </div>
                      </mat-card-header>
                      <div class="logoImage">
                        <a href="{{education.institutionLink}}">
                          <img class="text-center" mat-card-image class="logo" src="{{education.logo}}" alt="logo">
                        </a>
                      </div>
                      <mat-card-content class="cartDescription">
                        <h6>{{education.institution}}</h6>
                        <p class="duration">Started in {{education.start}}- Finished in {{education.end}}</p>
                        <p>{{education.description}}</p>
                      </mat-card-content>
                      <mat-card-actions class="btnDiv">
                        <a *ngIf="education.link" href="{{education.link}}">
                          <button mat-stroked-button>Read Dissertation</button>
                        </a>
                      </mat-card-actions>
                    </mat-card>
                  </div>
                </div>
            </mat-tab>
            <mat-tab label="Experiences">
              <div class="row experiencesBox">
                <div id="experienceMessage" *ngIf="experiences == 0">
                  <h4>Looking for the first job as Full Stack Developer</h4>
                  <mat-icon id="searchIcon">search</mat-icon>
                </div>
                <div class="row" *ngFor="let experience of experiences;">
                  <div class="col-sm-1" class="divDatails">
                    <div class="square"></div>              
                  </div>
                  <div class="col-sm-1 experienceDescription">
                    <a href="{{experience.institutionLink}}">
                      <img class="experienceLogo" src="{{experience.logo}}" alt="logo">
                    </a>
                  </div>
                  <div class="col-md-6 experienceDescription">
                    <h6>{{experience.responsibility}} at {{experience.company}}</h6>
                    <p class="duration">Started in {{experience.start}} - Finished in {{experience.end}}</p>
                    <ul *ngFor="let task of experience.tasks">                
                      <li>{{task}}</li>
                    </ul>
                  </div>              
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Skills">
              <div class="row skillsBox">
                <div class="row">
                  <div class="row skillsTitle">
                    <h2>Technical Skills</h2>
                  </div>
                  <div class="col-md-3 skills" *ngFor="let tecnhicalSkill of skills.technicalSkills">
                    <h6>{{tecnhicalSkill.skill}}</h6>
                    <img class="logoSkills" src="{{tecnhicalSkill.imgage}}" alt="{{tecnhicalSkill.skill}} logo">
                  </div>
                </div>
                <div class="row">
                  <div class="row skillsTitle">
                    <h2>Languages</h2>
                  </div>
                  <div class="row skillRow" *ngFor="let language of skills.languages">
                    <div class="col-md-2">
                    <h5> {{language.language}} </h5>
                    </div>
                    <div class="col-md-2">
                    <p>{{language.status}}</p>
                    </div>
                    <div class="col-md-8">
                    <div class="progress" style="height: 20px;">
                      <div class="progress-bar languageProgress" role="progressbar" style="width: {{language.percentage}}%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    </div>
                  </div>
                </div> 
              </div>               
            </mat-tab>
            <mat-tab label="Projects">

              <div class="row projectBox">
                <div class="col-md-4" *ngFor="let project of projects;">
                  <mat-card class="projectCard">
                    <mat-card-header>
                      <div mat-card-avatar>
                        <a *ngIf="project.repositoryLink" href="{{project.repositoryLink}}">
                          <img id="githubLogo" src="../assets/img/contacts-logo/github.png" alt="Git Hub">
                        </a>
                      </div>
                      <div class="title">
                        <mat-card-title>{{project.title}}</mat-card-title>
                      </div>
                    </mat-card-header>
                    <div class="logoImage">
                      <a href="{{project.link}}">
                        <img *ngIf="project.image" src="{{project.image}}" alt="{{project.title}}" class="projectImage">
                        <img *ngIf="!project.image" src="../assets/img/projects/no-image.png" alt="No Image" class="projectImage"> 
                      </a>
                    </div>
                    <mat-card-content class="projectCartDescription">
                      <h6></h6>
                      <p>Project's objective: {{project.objective}}</p>
                      <p class="duration">Duration: {{project.start}} - {{project.end}}</p>
                      <p>Project's :{{project.type}}</p>
                      <p *ngIf="project.role">My position in the project: {{project.role}}</p>
                      <p>Technologies used in the project: </p>
                      <ul *ngFor="let technology of project.technology">
                        <li>{{technology}}</li>
                      </ul>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
    </div>
    
</div>