/* All divs from the project are into container */
.container{
    right: 115px;
    top: 63px;
    padding-top: 30px;
    position: absolute;
    z-index: 2;
}

/* Personal description style */
#profile-img{
    width: 266px;
    height: 255px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    margin-top: -0.5px;
    margin-bottom: -3px;
    margin-left: 80px;
    border-left: solid #cb9b8c;
    border-bottom: solid #cb9b8c;
    border-top: solid #cb9b8c;
}

#description{
    width: 350px;
    border-top: solid #cb9b8c;
    border-bottom: solid #cb9b8c;
    background-color: white;
}

#person-information{
    height: 249px;
    margin-left: 150px;
}

#name{
    text-align: center;
   padding-top: 10px;
   color: #1b0000;
}

#title{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
    color: #1b0000;
}

#me{
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    color: #1b0000;
}

#information{
    padding-top: 50px;
}

/* Card style. It is applyed to cards from education*/
.institutionCard{
    width: 350px;
    height: 495px;
    margin: 50px;
    border: solid #ffccbc 1px;
    box-shadow: 5px 5px 2px #cb9b8c;
} 

.title{
    text-align: center;
    height: 70px;
}

.logoImage{
    text-align: center;
    height: 180px;
}

.logo{
    width: 150px;
    height: auto;    
}

.logo:hover{
    width: 200px;
    height: auto;
}

.cartDescription{
    text-align: justify;
    height: 140px;
}

.btnDiv{
    text-align: center;
    height: 90px;
}
/* ---------End of education cards style -------------- */

/* style of experience part */
/* divDatails and square are responsible to create a line and a square in the first collumn from experiences part */
.divDatails{
    width: 10px;
    height: auto;
    background-color: #cb9b8c;
}
.square{
    width: 20px;
    height: 20px;
    margin-top: 65px;
    background-color: #cb9b8c;
    transform: rotate(45deg);
}
.experienceLogo{
    width: 50px;
    height: auto;
    margin-left: 10px;
}
.experienceDescription{
    padding-top: 50px;
}

/* It is used when I don't have any experience to show */
#experienceMessage{
    text-align: center;
    padding-top: 50px;
    color: #c75b39;
}
#searchIcon{
    padding-top: 30px;
    font-size: 250px;   
    margin-left: -200px;
}
/* end of experience part style*/

/* Style of skills part */
.skillsTitle{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}
.skills{
    text-align: center;
    padding-top: 65px;
}
.logoSkills{
    width: auto;
    height: 100px;
}
.languageProgress{
    background-image: linear-gradient(to right, #ffffee, #ffccbc, #cb9b8c);
    border: solid #ffccbc 2px;
}
/* End of skills part style*/

/* It is applyed to all dates */
.duration{
    font-size: smaller;
}
/* It is applyed to all links */
a{
    color: #cb9b8c;
    text-decoration: none;
}

/* style of project part */
.project{
    margin-left: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-top: #cb9b8c solid 2px;
    border-bottom: #cb9b8c solid 2px;
    border-radius: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 1270px;
}

.projectImageBox h2{
    color: #c75b39;
    text-align: center;
    margin-top: 20%;
}

.projectImage{
    width: 420px;
    height: auto;
}

.projectImage:hover{
    border: dashed #cb9b8c 5px;
    width: 415px;
    height: auto;
}

.projectDetails{
    padding-left: 50px;
    text-align: justify;
}

.projectDetails h5{
    color: #c75b39;
    text-align: center;
}
/* End of project style */

.skillsBox, .educationBox, .experiencesBox, .projectBox {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 1300px;
}