.container{
    right: 115px;
    top: 63px;
    padding-top: 30px;
    position: absolute;
    z-index: 2;
}

#profile-img{
    width: 266px;
    height: 255px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    margin-top: -0.5px;
    margin-bottom: -3px;
    margin-left: 80px;
    border-left: solid #cb9b8c;
    border-bottom: solid #cb9b8c;
    border-top: solid #cb9b8c;
}

#description{
    width: 350px;
    border-top: solid #cb9b8c;
    border-bottom: solid #cb9b8c;
    background-color: white;
}

#person-information{
    height: 249px;
    margin-left: 150px;
}

#name{
   padding-top: 10px;
   color: #1b0000;
}

#title{
    padding-top: 5px;
    padding-bottom: 15px;
    color: #1b0000;
}

#me{
    padding-left: 15px;
    padding-right: 15px;
    color: #1b0000;
}

#information{
    padding-top: 50px;
}

a{
    color: #cb9b8c;
    text-decoration: none;
}

/* Card style. It is applyed to cards from education*/
.institutionCard{
    width: 350px;
    height: 600px;
    margin: 50px;
    border: solid #ffccbc 1px;
    box-shadow: 5px 5px 2px #cb9b8c;
} 

.title{
    text-align: center;
    height: 100px;
}

.logoImage{
    text-align: center;
    height: 210px;
}

.logo{
    width: 150px;
    height: auto;    
}

.logo:hover{
    width: 200px;
    height: auto;
}

.cartDescription{
    text-align: justify;
    height: 140px;
}

.btnDiv{
    text-align: center;
    height: 90px;
}
/* ---------End of education cards style -------------- */
.duration{
    font-size: smaller;
}